<div class="relative h-screen max-h-screen">
  <ng-container class="overflow-scroll">
    <todos *ngIf="index == 0"></todos>
    <dones *ngIf="index == 1"></dones>
    <deletes *ngIf="index == 2"></deletes>
  </ng-container>
  <div
    #tabs
    class="fixed bottom-0 w-full text-center flex justify-between bg-slate-600 text-white"
  >
    <p
      [ngClass]="{ 'bg-slate-800': index == 0 }"
      class="w-1/3 hover:bg-slate-800 p-2.5 cursor-pointer"
      (click)="toggleIndex(0)"
    >
      Todos
    </p>
    <p
      [ngClass]="{ 'bg-slate-800': index == 1 }"
      class="w-1/3 hover:bg-slate-800 p-2.5 cursor-pointer"
      (click)="toggleIndex(1)"
    >
      Dones
    </p>
    <p
      [ngClass]="{ 'bg-slate-800': index == 2 }"
      class="w-1/3 hover:bg-slate-800 p-2.5 cursor-pointer"
      (click)="toggleIndex(2)"
    >
      Deletes
    </p>
  </div>
</div>
